#grid {
  position: relative;
  width: 1024px;
  height: 769px;
  overflow: hidden;	
}

#pageHold {
  width: 1024px;
  height: 769px;
  overflow: hidden;
}

.stripe {
  position: relative;
  width: 1024px;
  height: 230px;
  float: left;
}

.stripe div {
  position: absolute;
  width: 1024px;
  height: 230px
}

.stripe a.single {
  width: 1024px;
  height: 256px	
}
.stripe a.horz {
  width: 516px;
  height: 256px	
}
.stripe a.vert {
  width: 769px;
  height: 1024px	
}

.viewport {
  width: 1024px;
  height: 230px;
}
            
.viewport div:nth-child(2n)   { background: #b22e43; }
.viewport div:nth-child(2n+1) { background: #b22e43; }

#viewport div figure {
	display: table-cell;
	width: inherit;
  height: 230px;
  vertical-align: middle;
  overflow: hidden;
}

.box4x4 {
  position: relative;
  width: 510px;
  height: 278px;
  float: left;
}

.box4x4 div {
  position: absolute;
  width: 256px;
  height: 138px;
}

.box4x4 subhead {
 padding:105px 0 0 10px; 
}

.box4x4 a.single {
  width: 254px;
  height: 138px;	
}
.box4x4 a.horz {
  width: 510px;
  height: 138px;	
}
.box4x4 a.vert {
  width: 254px;
  height: 278px;	
}

details {
  position: absolute;
  width: 512px;
  height: 119px;
  top: 516px;
  right: 256px;
  padding-top: 10px;
  text-align: left;
  background: #1A0904;
  overflow: hidden;
}

.posTL subhead {
	padding-top: 115px; 
	left: 10px;
}
.posTR subhead {
	padding-top: 115px; 
	left: 10px;
}
.posBL subhead {
	padding-top: 115px; 
	left: 10px;
}
.posBR subhead {
	padding-top: 115px; 
	left: 10px;
	}
