@charset "UTF-8";
/* CSS Document */


.section:after,
ul.nav:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

body {
	background: #E4E4E4 url("../site/bg.png");
	color: #292929;
	color: rgba(0, 0, 0, 0.82);
	font: normal 100% Cambria, Georgia, serif;
	/* -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); */
	-webkit-text-size-adjust: none;
	background-color: #e43f2d;
	background-image: url();
}
a {
	color: #c63133;
	text-decoration: none;
	-moz-transition: 0.2s color linear;
	-webkit-transition: 0.2s color linear;
	transition: 0.2s color linear;
	
}
a:hover {
	color: #b22e43;
	border-bottom:solid .15em;

}
#page {
	background: url("../site/rag.png") repeat-x;
	padding: 1em 0 2em 0;
}
.inner {
	margin: 0 auto;
	width: 93.75%;		/* 960px / 1024px */
}
img {
	max-width: 100%;
}
.amp {
	font-family: Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
	font-style: italic;
	font-weight: normal;
}
.mast {
	float: left;
	width: 23.875%;	/* 306px / 960px */
}
h1 {
	background: url("../site/logo-bg.png") no-repeat 50% 0;
}
h1 a {
	padding-top: 117px;
	height: 162px;
	display: block;
	text-align: center;
}
.intro,
.main {
	float: left;
	width: 100%;	/* 633px / 960px */
}

.footer {
	float:right;
	width: 76.0%;
}

.intro {
	margin-top: 1px;
	padding-bottom:20px;
}
.intro div {
	line-height: 1.4;
}
ul.nav {
	border-top: 1px solid #888583;
	margin: 2em auto 0;
	width: 64.379%;
}
ul.nav a {
	font: bold 14px/1.2 "Book Antiqua", "Palatino Linotype", Georgia, serif;
	display: block;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 1em 0.5em 3em;
	margin-bottom: -1em;
	text-transform: uppercase;
}
ul.nav a:hover {
	background-position: 50% 100%;
}
li.first a {
	border-top: 1px solid #FFF9EF;
	padding-top: 1.25em;
}
ul.nav i {
	font: normal 10px Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
	display: block;
	letter-spacing: 0.05em;
}
.intro h2 {
	font-size: 4em;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#000000;
}

.main h2 {
	background: url("../site/ornament.png") no-repeat 0 50%;
	font-size: 1.4em;
	text-transform: lowercase;
	text-align: center;
	margin: 0.75em 0 1em;
}
.main h2 b {
	background: url("../site/bg.png");
	font-weight: normal;
	padding: 0 1em;
}
.figure {
	float: left;
	text-align: center;
	width: 25%;				/* 197px / 633px 31.121642969984202211% */
}

.figure img {
	display: block;
	margin: 0 auto;
	overflow:hidden;
}

.figure img a {
}

li#f-mycroft,
li#f-winter {
	margin-right: 0;
}
.footer {
	text-align: left;
	font-size: 3em;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#c63133;
	padding: 10px 0 20px;
}

.footer p {
	margin-bottom: 0.5em;
}

/* Media Queries for Resizing  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */
@media screen and (min-width: 1440px) {

#page {
	padding: 1em 0 2em 0;
}
.inner {
	margin: 0 auto;
	width: 93.75%;		/* 960px / 1024px */
}


.intro h2 {
	font-size: 5em;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#000000;
}

.figure {
	float: left;
	text-align: center;
	width: 25%;	
}
.footer {
	text-align: left;
	font-size: 4em;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#c63133;
	padding: 30px 0 20px;
}

	
}


@media screen and (max-width: 960px) {
	
}

@media screen and (max-width: 768px) {
  /* do all your shit for phones */
.intro h2 {
	font-size: 3em;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#000000;
}

.figure {
	float: left;
	text-align: center;
	width: 33%;
}

.footer {
	text-align: left;
	font-size: 2em;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#c63133;
	padding: 10px 0 20px;
}

}

@media screen and (max-width: 480px) {

#page {
	padding: .5em 0 1em 0;
}
.inner {
	margin: 0 auto;
	width: 93.75%;		/* 960px / 1024px */
}


.intro h2 {
	font-size: 2em;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#000000;
}

.figure {
	float: left;
	text-align: center;
	width: 50%;				/* 197px / 633px 31.121642969984202211% */
}

.footer {
	text-align: left;
	font-size: 1em;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#c63133;
	padding: 10px 0 20px;
}

.footer p {
	margin-bottom: 0.5em;
}

}

.skip-link, .assistive-text { display: none; }